@import 'base/1-fonts';

@import '../_css/bootstrap2.min.css';
@import '../_css/popup.css'
@import '../_css/flipclock.min.css'

@import 'base/2-base-0'
@import 'base/2-base-m'

@import 'base/3-header'

@import 'course/1-main'
@import 'course/2-why'
@import 'course/3-plan'
@import 'course/4-get'
@import 'course/5-prices'
@import 'main/6-author'
@import 'main/7-revs'
@import 'main/8-last'
@import 'base/4-footer'
@import 'course/6-modal'