#for
	padding 100px 0
.for-item
	padding 67px 0 0
	background-image: url('../img/images/for.png')
	background-repeat: no-repeat
	background-position: top center
	font-size: 22px
	width 100%
	max-width 300px
	margin 0 auto 50px