#for
	padding 100px 0
	@media screen and (max-width 991px)
		padding 60px 0
	@media screen and (max-width 386px)
		padding 40px 0
.for-item
	padding 67px 0 0
	background-image: url('../img/images/for.png')
	background-repeat: no-repeat
	background-position: top center
	font-family: R
	font-size: 22px
	width 100%
	max-width 300px
	margin 0 auto 50px
	@media screen and (max-width 991px)
		font-size: 18px
		text-align center
	@media screen and (max-width 560px)
		margin-bottom: 30px
.button-wrapper-for
	@media screen and (max-width 991px)
		text-align center