#author
	padding 100px 0
	background-color: #F4E7DD
	@media screen and (max-width 991px)
		padding 60px 0
	@media screen and (max-width 386px)
		padding: 40px 0
.author-img
	display block
	width 100%
	max-width 462px
	margin 100px auto 0
	@media screen and (max-width 991px)
		margin 0 auto 50px
	@media screen and (max-width 560px)
		margin 0 auto 30px