#last
	padding 135px 0
	background-color: #F4E7DD
	text-align center
.last
	&-title
		font-family: RW
		font-size: 35px
		font-weight: bold
	&-text
		font-family: RW
		font-size: 21px
		font-weight: 600
		margin 30px auto 40px
		width 100%
		max-width 430px