.white-popup
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
	background-image: url(../img/images/plan.png)
	background-repeat: no-repeat
	background-position: bottom -50px right -80px
	background-size 200px
.mfp-close-btn-in .mfp-close
	transition all .2s ease
	&:hover
		transform rotate(45deg)
.modal-title
	font-family: NS
	font-size: 24px
	font-weight: bold
	margin 30px 0
	text-align center
.input-mail-modal
	float: none
	display block
	margin 0 auto 10px
	width 100%
	max-width 360px
.button-form-modal
	float: none
	display block
	margin 0 auto
	width 100%
	max-width 360px
	padding 18px 20px
.checking-modal 
	max-width: 360px
.checking-modal .check-label
	line-height: 18px
.mfp-fade.mfp-bg
	opacity: 0;
	transition: all 0.15s ease-out;
.mfp-fade.mfp-bg.mfp-ready
	opacity: 0.8;
.mfp-fade.mfp-bg.mfp-removing
	opacity: 0;
.mfp-fade.mfp-wrap .mfp-content
	opacity: 0;
	transition: all 0.15s ease-out;
.mfp-fade.mfp-wrap.mfp-ready .mfp-content
	opacity: 1;
.mfp-fade.mfp-wrap.mfp-removing .mfp-content
	opacity: 0;