R = 'Roboto', sans-serif;
NS = 'NotoSansJP', sans-serif;
OS = 'OpenSans', sans-serif;
RW = 'Raleway', sans-serif;

@font-face
	font-family: 'Roboto';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/RobotoRegular.eot');
	src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),url('../fonts/RobotoRegular.woff2') format('woff2'),url('../fonts/RobotoRegular.woff') format('woff'),url('../fonts/RobotoRegular.ttf') format('truetype'),url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
@font-face
	font-family: 'NotoSansJP';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/NotoSansJPRegular.eot');
	src: url('../fonts/NotoSansJPRegular.eot') format('embedded-opentype'),url('../fonts/NotoSansJPRegular.woff2') format('woff2'),url('../fonts/NotoSansJPRegular.woff') format('woff'),url('../fonts/NotoSansJPRegular.ttf') format('truetype'),url('../fonts/NotoSansJPRegular.svg#NotoSansJPRegular') format('svg');
@font-face
	font-family: 'NotoSansJP';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/NotoSansJPBold.eot');
	src: url('../fonts/NotoSansJPBold.eot') format('embedded-opentype'),url('../fonts/NotoSansJPBold.woff2') format('woff2'),url('../fonts/NotoSansJPBold.woff') format('woff'),url('../fonts/NotoSansJPBold.ttf') format('truetype'),url('../fonts/NotoSansJPBold.svg#NotoSansJPBold') format('svg');
@font-face
	font-family: 'OpenSans';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/NotoSansJPRegular.eot');
	src: url('../fonts/NotoSansJPRegular.eot') format('embedded-opentype'),url('../fonts/NotoSansJPRegular.woff2') format('woff2'),url('../fonts/NotoSansJPRegular.woff') format('woff'),url('../fonts/NotoSansJPRegular.ttf') format('truetype'),url('../fonts/NotoSansJPRegular.svg#NotoSansJPRegular') format('svg');
@font-face
	font-family: 'OpenSans';
	font-display: fallback;
	font-weight: 600;
	font-style: normal;
	src: url('../fonts/OpenSansSemibold.eot');
	src: url('../fonts/OpenSansSemibold.eot') format('embedded-opentype'),url('../fonts/OpenSansSemibold.woff2') format('woff2'),url('../fonts/OpenSansSemibold.woff') format('woff'),url('../fonts/OpenSansSemibold.ttf') format('truetype'),url('../fonts/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
@font-face
	font-family: 'Raleway';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/RalewayBold.eot');
	src: url('../fonts/RalewayBold.eot') format('embedded-opentype'),url('../fonts/RalewayBold.woff2') format('woff2'),url('../fonts/RalewayBold.woff') format('woff'),url('../fonts/RalewayBold.ttf') format('truetype'),url('../fonts/RalewayBold.svg#RalewayBold') format('svg');
@font-face
	font-family: 'Raleway';
	font-display: fallback;
	font-weight: 600;
	font-style: normal;
	src: url('../fonts/RalewaySemiBold.eot');
	src: url('../fonts/RalewaySemiBold.eot') format('embedded-opentype'),url('../fonts/RalewaySemiBold.woff2') format('woff2'),url('../fonts/RalewaySemiBold.woff') format('woff'),url('../fonts/RalewaySemiBold.ttf') format('truetype'),url('../fonts/RalewaySemiBold.svg#RalewaySemiBold') format('svg');