.general-title
	font-size: 27px
	font-weight: bold
	margin-bottom: 45px
	&-center
		text-align center
	@media screen and (max-width 560px)
		font-size: 24px
		margin-bottom: 30px
.general-list
	li
		list-style: none
		position relative
		margin-bottom: 40px
		padding-left: 46px
		font-family: R
		font-size: 22px
		&:before
			content: ''
			display block
			position absolute
			top 17px
			left 0
			width 36px
			height: 2px
			background-color: #743F3F
		&:last-child
			margin-bottom: 0
		@media screen and (max-width 991px)
			font-size: 20px
			margin-bottom: 30px
			&:before
				top 16px
		@media screen and (max-width 560px)
			font-size: 18px
			margin-bottom: 20px
			padding-left: 30px
			&:before
				width 20px
				top 14px
		@media screen and (max-width 386px)
			margin-bottom: 10px