header
	overflow hidden
	padding 10px 0
	margin-bottom: 40px
.header-logo
	float left
.contacts
	float: right
	text-align right
.contact
	line-height: 39px
	font-family: NS
	font-size: 16px
	background-repeat: no-repeat
	background-position: left center
	background-size contain
	&-tel
		padding-left: 32px
		background-image: url(../img/icons/tube.png)
		margin-left: 45px
	&-email
		padding-left: 40px
		background-image: url(../img/icons/envelope.png)
	&:focus
		text-decoration none
		color #000
	&:hover
		text-decoration underline
		color #000