header
	overflow hidden
	padding 10px 0
	margin-bottom: 40px
	@media screen and (max-width 560px)
		margin-bottom: 30px
	@media screen and (max-width 386px)
		margin-bottom: 20px
.header-logo
	float left
	@media screen and (max-width 560px)
		float: none
		display block
		width 100px
		margin 0 auto 5px
.contacts
	float: right
	text-align right
	@media screen and (max-width 560px)
		float: none
		text-align center
	@media screen and (max-width 386px)
		line-height: 1.1
.contact
	line-height: 39px
	font-size: 16px
	background-repeat: no-repeat
	background-position: left center
	background-size contain
	&-tel
		padding-left: 32px
		background-image: url(../img/icons/tube.png)
		margin-left: 45px
	&-email
		padding-left: 40px
		background-image: url(../img/icons/envelope.png)
	&:focus
		text-decoration none
		color #000
	&:hover
		text-decoration underline
		color #000
	@media screen and (max-width 560px)
		font-size: 12px
		line-height: 1
		margin 0 10px
		&-tel
			margin-left: 0
			padding-left: 24px
		&-email
			padding-left: 30px
	@media screen and (max-width 386px)
		display inline-block