section#video
	.container
		.row
			.col-md-6
				.video-wrapper.video-wrapper-video
					iframe(src="https://youtube.com/embed/Fqi7K3sxPBk?modestbranding=1" allowfullscreen)
			.col-md-6
				p.video-text
					span Эзотерика
					|  представляет собой закрытое от общества знание, которое передавалось в зашифрованном виде в течение тысяч лет. Это знание открывает секреты устройства мира и места человека в нём. Оно позволяет раскрыться творческому, созидательному потенциалу человека и улучшить качество жизни
				+b('', 'button-up', href, 'Записаться')