mixin fi(n, p)
	.col-md-4
		.for-item(class="for-item-"+n)
			p.for-item-text=p

section#for
	.container
		+gt('', 'Этот мастер класс будет полезен тем, кто:')
		.row
			+fi('1', 'Имеет обширный опыт самопознания и хочет расширить свой кругозор, открыть для себя новые техники')
			+fi('2', 'Только начинает заниматься развитием своего сознания и хочет сложить в голове все пазлы воедино')
			+fi('3', 'Испытывает трудности на пути своей реализации и хочет найти причину')
		.row
			+fi('4', 'Интересуется вопросами того, как душа приходит в наш мир, и из чего складывается ее опыт')
			+fi('5', 'Имеет спонтанный опыт проявления непознанного в жизни и хочет разобраться с этим вопросом')
			+fi('6', 'Хочет понять, что такое экстрасенсорные способности и нужны ли они ему')
		+b('button-wrapper-for', 'button-up', href, 'Участвовать бесплатно')