section#plan
	.container
		+gt('', 'Программа мастер-класса')
		.content
			.days
				ul.nav.nav-tabs.days-buttons#days(role="tablist")
					li(role="presentation").active
						a(href="#day-1" aria-controls="day-1" role="tab" data-toggle="tab") 1 день
					li(role="presentation")
						a(href="#day-2" aria-controls="day-2" role="tab" data-toggle="tab") 2 день
					li(role="presentation")
						a(href="#day-3" aria-controls="day-3" role="tab" data-toggle="tab") 3 день
				.tab-content.days-container
					.tab-pane.fade.in.day-body.active(role="tabpanel")#day-1
						h4.day-title Мистическая картина мира
						ul.day-list
							li Цели и задачи интенсива
							li Социальная и мистическая картины мира.Сходства и отличия
							li Преимущества мистической картины мира
							li Сознание как рычаг контроля над собственной жизнью и счастьем
							li Чакра как проявление многомерности в нашем теле
							li Медитация как способ управления энергией
							li
								span Практика:
								|  Медитация на Солнце
						p.day-bonus
							span Бонус «Расчесываем нервы». 
							| Техника расслабления и снятия стресса. С помощью данной техники Вы за несколько минут в день снимете стресс, успокоите нервную систему, станете более спокойными и расслабленными, а также улучшите ваш сон
					.tab-pane.fade.day-body(role="tabpanel")#day-2
						h4.day-title Путешествие души
						ul.day-list
							li Понятие Точки Сборки
							li Понятие варны
							li Четыре варны: шудра, вайшью, кшатрий, брахман
							li Связь варны и положения Точка Сборки
							li Развитие внутри варны брахмана: зачем это нужно
							li Экстрасенсорика как начальный этап работы с энергиями мира
							li
								span Практика:
								|  Медитация на Солнце
							li
								span Практика:
								|  Определение Точки Сборки
						p.day-bonus
							span Бонус «Прокачка головы». 
							| Техника снятия головной боли и усталости. Эта техника приходит на помощь, когда необходимо убрать головную боль или придать мыслям ясность. Она потребует всего пару минут вашего времени, а эффект от нее продлится довольно продолжительное время
					.tab-pane.fade.day-body(role="tabpanel")#day-3
						h4.day-title Каналы восприятия
						ul.day-list
							li Теория каналов восприятия информации
							li Типы репрезентативной системы мозга
							li Виды считывания информации
							li Ваш доминирующий канал восприятия
							li
								span Практика:
								|  Считывание информации
						p.day-bonus
							span Бонус «Монетка вероятностей». 
							| Предсказываем будущее.Эта техника позволит вам заглянуть в ближайшее будущее и ответить на вопросы типа «да/нет» с высокой долей вероятности. Внимание! Для выполнения практики вам будет необходима настоящая монета, номинал не важен. Приготовьте ее заранее
			+b('button-wrapper-center', 'button-up', href, 'Иду на мастер-класс')
		+imgs('plan-img', 'img/images/plan.png', 'Картинка блока')