section#reach
	.container
		.content
			+gt('', 'Благодаря данному мастер-классу, Вы:')
			ul.general-list
				li получите базовые навыки медитации и экстрасенсорной чувствительности;
				li научитесь с помощью медитации получать энергию от солнца для лучшего самочувствия и бодрости;
				li научитесь определять точку сборки у себя и других людей;
				li освоите технику расслабления своей нервной системы;
				li научитесь заряжать монетку для принятия правильного решения на «Да\Нет»;
				li поймете путь своей души в процессе эволюции
			+b('button-wrapper-center', 'button-up button-reach', href, 'Мне это необходимо')
		+imgs('reach-img', 'img/images/reach.png', 'Ин/Янь')