section#author
	.container
		.row
			.col-md-5
				+imgs('author-img', 'img/images/basile.png', 'Василий Попов')
			.col-md-7
				+gt('', 'О тренере')
				ul.general-list
					li Преподаватель, эзотерик, мистик, занимается духовной практикой около 20 лет
					li Имеет высшее педагогическое образование по специальности «Преподаватель английского и французского языка» и 15-летний опыт работы в учебных заведениях России и Франции, а также в негосударственных учебных центрах
					li Обладает обширными знаниями в области магии таро, рун, каббалистики, парапсихологии, подкреплённые современными научными и педагогическими исследованиями. Доносит сложнейшую мудрость сфер понятно, чётко, доходчиво
					li У него прошли обучение более 5000 студентов, которые успешно раскрыли свой потенциал и применяют новые способности в жизни
					li Помог сотням людей посредством прямого воздействия на энергетику организма, управления ситуациями, решения проблем с помощью рун и карт таро