section#main
	.container
		.row
			.col-md-8
				h1.main-title Поздравляем! 
					br
					| Вы успешно зарегистрировались на мастер-класс Василия Попова 
					span «Введение в эзотерику. Путешествие души»
				p.main-text В благодарность за регистрацию Вы можете получить от Василия базовое упражнение - 
					span Техника «Дыхание органом» совершенно бесплатно
					| , для этого необходимо просто оформить товар с нулевой стоимостью, перейдя по ссылке под кнопкой ниже
				+b('', 'button-brown', 'https://shop.mv-centr.ru/?r=ordering/cart/as1&id=1167&clean=true&lg=ru', 'Забрать технику')
			.col-md-4
				+imgs('main-img', 'img/images/reach.png', 'ИньЯн')