section#why
	.container
		+gt('', 'Почему нельзя пропустить?')
		ul.general-list
			li Эффективность методики проверена на сотнях учеников прошлых потоков
			li Ведущий курса — успешный педагог и экстрасенс, суммарный опыт которого, в данной теме, более 15 лет
			li Записи занятий останутся у вас, вы сможете пересматривать их в поисках нужных ответов
			li Результат неизбежен, так как выполнение домашних заданий — обязательное условие
			li Вы получите системное обучение и понятные инструкции, которые приведут вас к желаемым результатам
			li Вы будете под контролем специалистов, которые вовремя скорректируют ваши действия таким образом, чтобы вы выполняли всё с максимальным комфортом для вас самих
			li Вместе с вами будет проходить обучение еще сотня участников, у которых вы всегда сможете спросить совета или поделиться своим опытом
		+b('button-wrapper-center', 'button-up button-why', href, 'Мне это необходимо')
		+imgs('why-img', 'img/images/reach.png', 'Ин/Янь')