mixin ls(n, p)
	.lesson(class='lesson-'+n)
		h4.lesson-title='Урок '+n
		p.lesson-text=p

section#plan
	.container
		+gt('', 'В программу входит 10 полноценных уроков, включая посвящение в эзотерику:')
		.row
			.col-md-3
				+ls('1', 'Введение. Принципы, цели и задачи курса. Подготовительные практики')
			.col-md-3
				+ls('2', 'Движение энергии в теле. Накопление энергии. Наработка экстрасенсорной чувствительности')
			.col-md-3
				+ls('3', 'Снятие блоков. "Очищение души". Работа в режиме "Третьего глаза"')
			.col-md-3
				+ls('4', 'Подготовка к разэкранировке. Формирование "внутреннего экрана"')
		.row
			.col-md-3
				+ls('5', 'Слабая разэкранировка мозга. Активация зоны эпифиза')
			.col-md-3
				+ls('6', 'Сильная разэкранировка мозга. Открытие третьего глаза')
			.col-md-3
				+ls('7', 'Установление контакта с Гидом. Знакомство и работа с Гидом')
			.col-md-3
				+ls('8', 'Основы экстрасенсорной диагностики. Типы видения энергий')
		.row
			.col-md-3.col-md-offset-3
				+ls('9', 'Вхождение в эзотерический эгрегор. Посвящение')
			.col-md-3
				+ls('10', 'Вхождение в эзотерический эгрегор. Посвящение. Бонус "карма" и "эгрегоры" - видео уроки')