.white-popup.mfp-hide#Modal
	ul.modal-list
		li
			span 1 урок.
			|  Введение. Принципы, цели и задачи курса. Подготовительные практики.
		li
			span 2урок. 
			| Движение энергии в теле. Накопление энергии. Наработка экстрасенсорной чувствительности.
		li
			span 3 урок.
			|  Снятие блоков. "Очищение души". Работа в режиме "Третьего глаза"
		li
			span 4 урок.
			|  Подготовка к разэкранировке. Формирование "внутреннего экрана"
		li
			span 5 урок.
			|  Слабая разэкранировка мозга. Активация зоны эпифиза.
		li
			span 6 урок.
			|  Сильная разэкранировка мозга. Открытие третьего глаза.
		li
			span 7 урок.
			|  Установление контакта с Гидом. Знакомство и работа с Гидом.
		li
			span 8 урок.
			|  Основы экстрасенсорной диагностики. Типы видения энергий.
		li
			span 9 урок.
			|  Вхождение в эзотерический эгрегор. Посвящение.
		li
			span 10 урок.
			|  Вхождение в эзотерический эгрегор. Посвящение. Бонус "карма" и "эгрегоры" - видео уроки